html {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

#Titlebar {
    width: 100%;
    text-align: center;
}

#ImageContainer {
    text-align: center;
}

#SwitchableImage {
    width: 25vw;
    height: 65vh;
    filter: drop-shadow(0 0 0.75rem crimson);
}

#UserControl {
    text-align: center;
    width: 100%;
}

.Userimagebuttons {
    text-align: center;
    margin: 25px;
    padding: 15px;
}



